.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 45px;
}

.header__nav-container {
    display: flex;
    gap: 57px;

    &__link {
        color: #000000;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 500;
        text-decoration-line: none;

        // &__logo {
        //     height:68px;
        // } -> useless cause it's the default size in the svg
    }
}

@media (max-width: 767px) {
    .header {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        &__logo {
            height: 47px;
        }
    }

    .header__nav-container {
        margin-left: 20px;
        gap: 20px;

        &__link {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 12px;
            text-transform: uppercase;
            text-align: center;
        }
    }
}
