.slideshow-container {
    position: relative;
    max-width: calc(100vw - 200px);
    height: 415px;
    margin: auto;

    &__prev-button {
        cursor: pointer;
        position: absolute;
        top: 170px;
        left: 25px;
    }

    &__next-button {
        cursor: pointer;
        position: absolute;
        top: 170px;
        right: 25px;
    }
}

.slide {
    position: relative;
    height: 100%;
    width: 100%;
    display: none;

    &__picture {
        border-radius: 25px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 50% 50%;
    }

    &__number {
        position: absolute;
        bottom: 20px;
        left: 50%;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        color: #ffffff;
    }

    &.active-slide {
        display: block;
    }
}

@media (max-width: 767px) {
    .slideshow-container {
        max-width: calc(100vw - 40px);
        height: 255px;
        &__prev-button {
            top: 45%;
            left: 5px;
            height: 24px;
            width: 24px;
        }

        &__next-button {
            top: 45%;
            right: 5px;
            height: 24px;
            width: 24px;
        }
    }
    .slide {
        &__number {
            position: absolute;
            bottom: 10px;
            left: 50%;
            font-size: 12px;
        }
    }
}
