.collapse-bar {
    width: 1023px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color:#FF6060;
    padding: 10px 20px 10px 15px; 
    border: none;

    &__heading {
        color:#FFFFFF;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
    }
}

.collapse-content {
    display:none;
    transform: translateY(-30px);
    width:1023px;
    padding: 20px;
    background-color:#F6F6F673;
}