.collapse-bar {
    width: 1023px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    background-color: #ff6060;
    padding: 10px 20px 10px 15px;
    border: none;
    cursor: pointer;

    &__heading {
        color: #ffffff;
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
    }

    &__icon {
        transition: transform 0.2s ease-out;
    }

    &:active > .collapse-bar__icon {
        transform: rotate(180deg);
    }

    &:active + .collapse-content {
        max-height: 150px; // Trouver un calcul
    }
}

.collapse-content {
    width: 1023px;
    max-height: 0px;
    transition: max-height 0.2s ease-out;
    overflow: hidden;
    background-color: #f6f6f673;

    &__text {
        padding: 20px;
    }
}
