.accomodation-main {
    padding-top: 50px;
    padding-bottom: 30px;
}

.accomodation-infos-container {
    position: relative;
    max-width: calc(100vw - 200px);
    margin: auto;
    margin-top: 30px;
    margin-bottom: 25px;
}

.accomodation-primary {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
    &__title {
        color: #ff6060;
        font-family: Montserrat;
        font-size: 36px;
        font-weight: 500;
        margin: 0;
        line-height: 51px;
    }

    &__location {
        color: #000;
        font-family: Montserrat;
        font-size: 18px;
        font-weight: 500;
        margin-top: 0;
        margin-bottom: 20px;
        line-height: 26px;
    }

    &__tags-container {
        display: flex;
        gap: 10px;
    }

    &__tags-container > * {
        display: flex;
        align-items: center;
        justify-content: center;
        width: fit-content;
        padding-left: 30px;
        padding-right: 30px;
        height: 25px;
        border-radius: 10px;
        background: #ff6060;
        color: #fff;
        text-align: center;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
    }
}

.accomodation-secondary {
    position: absolute;
    top: 0;
    right: 0;
    &__host {
        display: flex;
        gap: 10px;
        margin-bottom: 20px;
        &__name {
            display: grid;
            align-items: center;
            color: #ff6060;
            text-align: right;
            font-family: Montserrat;
            font-size: 18px;
            font-weight: 500;
            line-height: 26px;
            inline-size: 100px;
        }
        &__picture {
            height: 64px;
            width: 64px;
            border-radius: 50%;
        }
    }
}

.accomodation-collapse-bar-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    column-gap: 75px;
}

@media (max-width: 767px) {
    .accomodation-main {
        padding-top: 30px;
        padding-bottom: 0px;
    }

    .accomodation-infos-container {
        max-width: calc(100vw - 40px);
        margin-top: 15px;
        margin-bottom: 30px;
    }

    .accomodation-primary {
        margin-bottom: 20px;
        &__title {
            font-size: 18px;
            line-height: 25px;
        }
        &__location {
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 10px;
        }
        &__tags-container {
            flex-wrap: wrap;
        }
        &__tags-container > * {
            border-radius: 5px;
            height: 18px;
            font-size: 10px;
            // font-weight: 500;
            padding-left: 20px;
            padding-right: 20px;
        }
    }
    .accomodation-secondary {
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        top: none;
        right: none;
        &__rating {
            order: 1;
        }
        &__rating > * {
            height: 18px;
            width: 18px;
        }
        &__host {
            order: 2;
            display: flex;
            margin-bottom: 0;
            gap: 10px;
            &__name {
                font-size: 12px;
                line-height: 16px;
                inline-size: 60px;
            }
            &__picture {
                height: 32px;
                width: 32px;
                border-radius: 50%;
            }
        }
    }
    .accomodation-collapse-bar-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
