.accomodation-cards-container {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
    border-radius: 25px;
    padding: 50px;
    background: #f6f6f6;
    // display:flex;
    // flex-wrap: wrap;
    // justify-content: center;
    // gap: 60px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
    grid-row-gap: 30px;
    & > a {
        text-decoration: none;
        width: 100%;
    }
}

@media (max-width: 767px) {
    .accomodation-cards-container {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 25px;
        padding: 0;
        background: none;
        grid-template-columns: 100%;
        grid-row-gap: 20px;
    }
}
